body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --width: 1152px;
}

nav {
  display: flex;
  width: 236px;
  gap: 32px;
}

nav ul {
  text-decoration: none;
  color: #21243D;
  justify-content: space-between;
}